In [1]:
import pandas as pd
from string import punctuation
from nltk.corpus import stopwords
from sklearn.feature_extraction.text import CountVectorizer
import unidecode
from gensim import corpora
import gensim

import nltk
stemmer = nltk.stem.SnowballStemmer('portuguese')

#login = 108561

#archackathon.database.windows.net
#AcrConsultada
#Arc123456

C:\Users\helder\Anaconda3\lib\site-packages\gensim\utils.py:1212: UserWarning: detected Windows; aliasing chunkize to chunkize_serial
  warnings.warn("detected Windows; aliasing chunkize to chunkize_serial")

In [3]:
recomendacoes = pd.read_csv('data/ranking_complete_group.csv', encoding='latin-1')
recomendacoes = recomendacoes[recomendacoes['Pages'] > 2]

In [4]:
def calc_score(table, capital, atributos=[1, 2, 3, 0, 0, 0, 0]):
    if atributos != None:
        atributos = [int(x) for x in atributos]
        atributos = [3/x if x > 0 else 0 for x in atributos]

        table['Pontuacao'] = table['Conforto / Acabamento'] * (atributos[0] + 1) + \
                                table['Consumo'] * (atributos[1] + 1) + \
                                table['Custo / Benefício'] * (atributos[2] + 1) +  \
                                table['Design'] * (atributos[3] + 1) +  \
                                table['Dirigibilidade'] * (atributos[4] + 1) + \
                                table['Manutenção'] * (atributos[5] + 1) + \
                                table['Performance'] * (atributos[6] + 1) + \
                                table['vendas_normalizada'] * 50
    else:
        table['Pontuacao'] = 1

    if capital != None:
        print (capital)
        if capital > 200000:
            table = table[(200000 <=  table['Price'])]
            print (table)

        elif capital < 10000:
            table = table[(table['Price'] <= 10000)]


        else:
            margem_cima = capital * 1.10
            margem_baixo = capital * 0.85


            table = table[(margem_baixo <=  table['Price']) &  (margem_cima >=  table['Price'])]

    table = table.sort_values('Pontuacao', ascending=False)
    table = table[['Marca', 'Modelo', 'Ano', 'Grupo']]

    table = table.reset_index(drop=True).reset_index()
    table = table.rename(columns={'index':'Posicao'})

    return table

In [5]:
capital = 40000

In [6]:
calc_score(recomendacoes, capital, atributos=[1, 2, 3, 0, 0, 0, 0])

40000

    Posicao       Marca       Modelo   Ano  Grupo
0         0    CHRYSLER   PT CRUISER  2010      3
1         1     HYUNDAI         HB20  2019      4
2         2       CHERY        CELER  2018      4
3         3  VOLKSWAGEN          UP!  2019      1
4         4   CHEVROLET       BLAZER  2011      1
5         5       CHERY        TIGGO  2015      4
6         6        FIAT       STRADA  2019      1
7         7        FIAT          UNO  2019      0
8         8     HYUNDAI       I30 CW  2012      0
9         9   CHEVROLET        SONIC  2014      0
10       10   CHEVROLET  SONIC SEDAN  2014      2
11       11        FIAT        SIENA  2016      1
12       12     CITROËN           C4  2014      0
13       13     PEUGEOT       206 CC  2008      4
14       14  VOLKSWAGEN   POLO SEDAN  2014      0
15       15     CITROËN   C3 PICASSO  2015      1
16       16         JAC           J2  2016      4
17       17  VOLKSWAGEN   NEW BEETLE  2010      4
18       18        FIAT         IDEA  2016      1
19       19       LIFAN          530  2018      4
20       20  VOLKSWAGEN        KOMBI  2014      1